.accordion-adv-search {
    background-color: rgba(0, 0, 0, 0.65);

    .accordion {
        border: 1px solid rgba(224, 224, 224, 0.65);
        border-radius: 0;
    }

    .accordion-adv-button {

        .accordion__button::before {
            width: 12px;
            height: 12px;
            margin-right: 1em;
            // display: none;
        }

    }

    .accordion__panel {
        padding: 0px;

        .accordion-adv {

            .accordion__button {
                background-color: rgba(24, 24, 24, 0.75);
                color: white
            }

            .accordion__panel {
                background-color: rgba(212, 212, 212, 0.65);
                padding: 10px;

                .accordion__panel {
                    background-color: rgba(255, 255, 255);
                }
            }
        }

        .MuiGrid-root {

            .MuiGrid-grid-xs-6 {
                background-color: rgba(212, 212, 212, 0.65);
            }
        }

    }

}